# Mobile Customer Churn

In this Portfolio task you will work with some (fake but realistic) data on Mobile Customer Churn.  Churn is where
a customer leaves the mobile provider.   The goal is to build a simple predictive model to predict churn from available features. 

The data was generated (by Hume Winzar at Macquarie) based on a real dataset provided by Optus.  The data is simulated but the column headings are the same. (Note that I'm not sure if all of the real relationships in this data are preserved so you need to be cautious in interpreting the results of your analysis here).  

The data is provided in file `MobileCustomerChurn.csv` and column headings are defined in a file `MobileChurnDataDictionary.csv` (store these in the `files` folder in your project).

Your high level goal in this notebook is to try to build and evaluate a __predictive model for churn__ - predict the value of the CHURN_IND field in the data from some of the other fields.  Note that the three `RECON` fields should not be used as they indicate whether the customer reconnected after having churned. 

__Note:__ you are not being evaluated on the _accuracy_ of the model but on the _process_ that you use to generate it.  You can use a simple model such as Logistic Regression for this task or try one of the more advanced methods covered in recent weeks.  Explore the data, build a model using a selection of features and then do some work on finding out which features provide the most accurate results.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [31]:
churn = pd.read_csv("files/MobileCustomerChurn.csv", na_values=["NA", "#VALUE!"], index_col='INDEX')
churn = churn.iloc[:, :-3] #remove last 3 RECON columns
churn.head()

,CUST_ID,ACCOUNT_TENURE,ACCT_CNT_SERVICES,AGE,CFU,SERVICE_TENURE,PLAN_ACCESS_FEE,BYO_PLAN_STATUS,PLAN_TENURE,MONTHS_OF_CONTRACT_REMAINING,LAST_FX_CONTRACT_DURATION,CONTRACT_STATUS,PREV_CONTRACT_DURATION,HANDSET_USED_BRAND,CHURN_IND,MONTHLY_SPEND,COUNTRY_METRO_REGION,STATE
INDEX,,,,,,,,,,,,,,,,,,
1,1,46,1,30.0,CONSUMER,46,54.54,NON BYO,15,0,24,OFF-CONTRACT,24,SAMSUNG,1,61.40,COUNTRY,WA
2,2,60,3,55.0,CONSUMER,59,54.54,NON BYO,5,0,24,OFF-CONTRACT,24,APPLE,1,54.54,METRO,NSW
3,5,65,1,29.0,CONSUMER,65,40.90,BYO,15,0,12,OFF-CONTRACT,12,APPLE,1,2.50,COUNTRY,WA
4,6,31,1,51.0,CONSUMER,31,31.81,NON BYO,31,0,24,OFF-CONTRACT,24,APPLE,1,6.48,COUNTRY,VIC
5,8,95,1,31.0,CONSUMER,95,54.54,NON BYO,0,0,24,OFF-CONTRACT,24,APPLE,1,100.22,METRO,NSW

In [14]:
churn.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 46206 entries, 1 to 46206
Data columns (total 18 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   CUST_ID                       46206 non-null  int64
 1   ACCOUNT_TENURE                46206 non-null  int64
 2   ACCT_CNT_SERVICES             46206 non-null  int64
 3   AGE                           46130 non-null  float64
 4   CFU                           46206 non-null  object
 5   SERVICE_TENURE                46206 non-null  int64
 6   PLAN_ACCESS_FEE               46206 non-null  float64
 7   BYO_PLAN_STATUS               46206 non-null  object
 8   PLAN_TENURE                   46206 non-null  int64
 9   MONTHS_OF_CONTRACT_REMAINING  46206 non-null  int64
 10  LAST_FX_CONTRACT_DURATION     46206 non-null  int64
 11  CONTRACT_STATUS               46206 non-null  object
 12  PREV_CONTRACT_DURATION        46206 non-null  int64
 13  HANDSET_USED_BRAND            46206 non-null  object
 14  CHURN_IND                     46206 non-null  int64
 15  MONTHLY_SPEND                 46206 non-null  float64
 16  COUNTRY_METRO_REGION          46205 non-null  object
 17  STATE                         46205 non-null  object
dtypes: float64(3), int64(9), object(6)
memory usage: 6.7+ MB

In [13]:
reference = pd.read_csv("files/MobileChurnDataDictionary.csv")
pd.set_option('display.max_colwidth', None)
reference

,column_Number,Variable_name,Description
0,1,CUST_ID,Unique customer identifier
1,2,ACCOUNT_TENURE,Account tenure in months based on last day of reporting month
2,3,ACCT_CNT_SERVICES,Total number of services under an account
3,4,AGE,Age of the account holder (derived on dob)
4,5,CFU,Customer facing unit derived based on owning cost centre
5,6,SERVICE_TENURE,Service tenure in months
6,7,PLAN_ACCESS_FEE,Monthly access fee payable for the plan excluding gst
7,8,BYO_PLAN_STATUS,Whether the customer is on a BYO (bring your own) plan
8,9,PLAN_TENURE,Plan tenure in months
9,10,MONTHS_OF_CONTRACT_REMAINING,Contract tenure remaining based on months of contract completed
10,11,LAST_FX_CONTRACT_DURATION,Last known fixed contract term
11,12,CONTRACT_STATUS,"Based on current contract the service is either on 'no-contract', 'on-contract' or 'off-contract'"
12,13,PREV_CONTRACT_DURATION,Previous contract term
13,14,HANDSET_USED_BRAND,Used equipment brand
14,15,CHURN_IND,Service churn flagging for disconnected service in reporting month
15,16,MONTHLY_SPEND,Service spend for reporting month
16,17,COUNTRY_METRO_REGION,Country or metro customer classification
17,18,STATE,State location of registered service
18,19,RECON_SMS_NEXT_MTH,Recontracted after SMS contact in the following month
19,20,RECON_TELE_NEXT_MTH,Recontracted after personal telephone contact in the following month
20,21,RECON_EMAIL_NEXT_MTH,Recontracted after email contact in the follwing month

In [29]:
for col in churn:
    print(col, churn[col].unique())

CUST_ID [    1     2     5 ... 79496 79497 79500]
ACCOUNT_TENURE [ 46  60  65  31  95  62  90  12  13   9  47  24  49  75  33  10  25   4
  34  67  92  76  45  73  85  32  16   3  58  96  91  78  50  57  93  83
  30  94   8   7  23  89  80  27   0  97  63   6  69  64  87  54   1  51
  11  19  41  22  79  43  14   5  21   2  15  20  66  38  28  86  53  40
  71  84  42  55  48  81  36  26  39  88  44  61  17  59  82  99  29  98
  18  74  37  35  52  70  56  68  77  72 103 114 105 111 100 108 102 109
 107 110 104 116 101 119 112 115 106 118 113 120 117]
ACCT_CNT_SERVICES [1 3 2 4]
AGE [ 30.  55.  29.  51.  31.  25.  35.  66.  21.  41.  59.  22.  53.  47.
  50.  20.  48.  49.  26.  34.  68.  27.  56.  43.  44.  18.  60.  61.
  58.  23.  65.  33.  24.  45.  39.  64.  40.  19.  42.  52.  57.  54.
  46.  71.  32.  88.  79.  36.  72.  28.  62.  85.  70.  nan  69.  38.
  37.  77.  75.  63.  76.  73.  86.  16.  67.  89.  84. 116.  78.  74.
  91.  80.  82.  83.   5.  95.  87.  81. 115.  93.  92.  90.  17.   7.
 105.  94.  97. 109. 113. 104.  15. 114.  -4.]
CFU ['CONSUMER' 'SMALL BUSINESS']
SERVICE_TENURE [ 46  59  65  31  95  62  90  12  13 125   9  47  24  49  75  33  10  25
   4  34  67   3 106   1  26  85  32  16  58 234 148  78  50  57  93  64
  27   0  30 185   8   7  23  89 232  80  73  71  63   5 191  14  54  51
  11  19  77  41  22  40  43  45 163 179   6 101  21   2  15  69 174  66
 198  28  86 150  99 197  42  55  48 100 118  81  35  29  94 117 181  84
 219 135  38  76  88  44 176  17 116  79 169  60 180 211  92 155 103  18
 104  39 133 175 115 126  98 166 121  74  53 108 147 110 200  37 127  52
 102  36  20 140 128  70 225 122 109 221  91 202  97  56 189 194 193 111
  96 165 114 142 144  68 138 145  72 196 178 159  83  61 173 154 208 151
 203 149 168 195 167 230 218 199 134 157 105 123 192 113 129 177 217 124
 161 107 120  87 210 182 205 112 209 139 222 164 186 130 136 131 188 171
  82 146 143 152 119 158 137 214 206 170 204 241 187 207 190 237 201 231
 183 239 247 153 132 220 156 172 213 233 160 184 215 249 141 162 212 236
 238 229 228 255 227 224 240 242 248 244 223 245 226 216 235 259 253 251
 243]
PLAN_ACCESS_FEE [ 54.54  40.9   31.81  90.9   71.81  72.72  22.72  36.36  45.45  80.9
  45.44  27.27  53.63  44.54  54.53 118.18  90.    17.27  30.9   63.63
   8.18 122.72  36.35 117.27  35.45 180.    59.08  53.64  62.72  50.
  26.36  71.82  59.09  22.73  31.82 234.54 107.26]
BYO_PLAN_STATUS ['NON BYO' 'BYO']
PLAN_TENURE [ 15   5  31   0   8  63  12  13  11   9  18  24  25  26   4  22  46   3
  23   1  32   2  54  20  53  30   7  27  16  17  34  14   6  47  40  19
  21  42  33  38  10  35  36  37  28  51  45  98  29  48  56  41  55  43
  44  50  67  60  52  39  69  72 124  95  62  68  86  49  66  57 108  65
  84  76  64 127  61 103 117  58  59  90  79  88 147  78  80  83  77 119
  73  91 118 125  71 100 121 133 126  75]
MONTHS_OF_CONTRACT_REMAINING [ 0 13 12 11 15  4 20 21  1  8 16  3  7 17 10 23 18 24  2  6 22  9 19  5
 14]
LAST_FX_CONTRACT_DURATION [24 12  0 36]
CONTRACT_STATUS ['OFF-CONTRACT' 'ON-CONTRACT' 'NO-CONTRACT']
PREV_CONTRACT_DURATION [24 12  0 36]
HANDSET_USED_BRAND ['SAMSUNG' 'APPLE' 'UNKNOWN' 'OTHER' 'GOOGLE' 'HUAWEI']
CHURN_IND [1 0]
MONTHLY_SPEND [ 61.4   54.54   2.5  ...  47.61  23.86 270.74]
COUNTRY_METRO_REGION ['COUNTRY' 'METRO' nan]
STATE ['WA' 'NSW' 'VIC' 'SA' 'QLD' 'TAS' 'ACT' 'NT' nan]

In [24]:
churn.isna().sum()#any(axis=1)

CUST_ID                          0
ACCOUNT_TENURE                   0
ACCT_CNT_SERVICES                0
AGE                             76
CFU                              0
SERVICE_TENURE                   0
PLAN_ACCESS_FEE                  0
BYO_PLAN_STATUS                  0
PLAN_TENURE                      0
MONTHS_OF_CONTRACT_REMAINING     0
LAST_FX_CONTRACT_DURATION        0
CONTRACT_STATUS                  0
PREV_CONTRACT_DURATION           0
HANDSET_USED_BRAND               0
CHURN_IND                        0
MONTHLY_SPEND                    0
COUNTRY_METRO_REGION             1
STATE                            1
dtype: int64

In [28]:
churn.loc[churn.AGE.isna()]

,CUST_ID,ACCOUNT_TENURE,ACCT_CNT_SERVICES,AGE,CFU,SERVICE_TENURE,PLAN_ACCESS_FEE,BYO_PLAN_STATUS,PLAN_TENURE,MONTHS_OF_CONTRACT_REMAINING,LAST_FX_CONTRACT_DURATION,CONTRACT_STATUS,PREV_CONTRACT_DURATION,HANDSET_USED_BRAND,CHURN_IND,MONTHLY_SPEND,COUNTRY_METRO_REGION,STATE
INDEX,,,,,,,,,,,,,,,,,,
186,390,94,2,NaN,SMALL BUSINESS,94,45.44,NON BYO,27,0,24,OFF-CONTRACT,24,HUAWEI,1,51.79,COUNTRY,NSW
213,441,39,4,NaN,SMALL BUSINESS,1,36.36,NON BYO,1,0,0,NO-CONTRACT,0,SAMSUNG,1,48.37,METRO,NSW
2047,4454,4,2,NaN,SMALL BUSINESS,4,72.72,NON BYO,4,20,24,ON-CONTRACT,0,SAMSUNG,1,72.72,METRO,ACT
2560,5602,8,4,NaN,SMALL BUSINESS,8,27.27,BYO,5,0,0,NO-CONTRACT,0,APPLE,1,37.66,METRO,VIC
4129,9178,9,3,NaN,SMALL BUSINESS,9,72.72,NON BYO,9,15,24,ON-CONTRACT,0,APPLE,1,72.72,METRO,NSW
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41919,72536,7,3,NaN,SMALL BUSINESS,5,27.27,BYO,5,0,0,NO-CONTRACT,0,SAMSUNG,1,72.56,METRO,VIC
42252,73087,94,2,NaN,SMALL BUSINESS,16,54.54,NON BYO,0,24,24,ON-CONTRACT,0,APPLE,0,91.35,METRO,VIC
44004,75927,0,1,NaN,SMALL BUSINESS,0,45.45,NON BYO,0,0,0,NO-CONTRACT,0,APPLE,0,45.45,METRO,WA
44466,76639,16,1,NaN,SMALL BUSINESS,16,31.81,NON BYO,16,8,24,ON-CONTRACT,0,APPLE,0,31.81,METRO,VIC
44660,76956,39,4,NaN,SMALL BUSINESS,1,31.81,NON BYO,1,23,24,ON-CONTRACT,24,UNKNOWN,0,50.34,METRO,NSW

# Clean the data

In [39]:
with pd.option_context('display.max_columns', None): #force to display all data
    print(pd.get_dummies(churn))

       CUST_ID  ACCOUNT_TENURE  ACCT_CNT_SERVICES   AGE  SERVICE_TENURE  \
INDEX
1            1              46                  1  30.0              46
2            2              60                  3  55.0              59
3            5              65                  1  29.0              65
4            6              31                  1  51.0              31
5            8              95                  1  31.0              95
...        ...             ...                ...   ...             ...
46202    79494              10                  1  61.0               9
46203    79495               2                  1  53.0               2
46204    79496              47                  1  22.0              47
46205    79497              94                  1  40.0             182
46206    79500               0                  1  24.0               0

       PLAN_ACCESS_FEE  PLAN_TENURE  MONTHS_OF_CONTRACT_REMAINING  \
INDEX
1                54.54           15                             0
2                54.54            5                             0
3                40.90           15                             0
4                31.81           31                             0
5                54.54            0                             0
...                ...          ...                           ...
46202            27.27            7                             0
46203            54.54            2                             0
46204            72.72            7                            17
46205            17.27            4                             0
46206            36.36            0                             0

       LAST_FX_CONTRACT_DURATION  PREV_CONTRACT_DURATION  CHURN_IND  \
INDEX
1                             24                      24          1
2                             24                      24          1
3                             12                      12          1
4                             24                      24          1
5                             24                      24          1
...                          ...                     ...        ...
46202                          0                       0          0
46203                         24                      24          1
46204                         24                      24          0
46205                         24                      24          0
46206                          0                       0          0

       MONTHLY_SPEND  CFU_CONSUMER  CFU_SMALL BUSINESS  BYO_PLAN_STATUS_BYO  \
INDEX
1              61.40             1                   0                    0
2              54.54             1                   0                    0
3               2.50             1                   0                    1
4               6.48             1                   0                    0
5             100.22             1                   0                    0
...              ...           ...                 ...                  ...
46202          27.27             1                   0                    1
46203          54.99             1                   0                    0
46204          72.72             1                   0                    0
46205          17.27             1                   0                    0
46206          36.36             1                   0                    1

       BYO_PLAN_STATUS_NON BYO  CONTRACT_STATUS_NO-CONTRACT  \
INDEX
1                            1                            0
2                            1                            0
3                            0                            0
4                            1                            0
5                            1                            0
...                        ...                          ...
46202                        0                            1
46203                        1                            0
46204                        1                            0
46205                        1                            0
46206                        0                            1

       CONTRACT_STATUS_OFF-CONTRACT  CONTRACT_STATUS_ON-CONTRACT  \
INDEX
1                                 1                            0
2                                 1                            0
3                                 1                            0
4                                 1                            0
5                                 1                            0
...                             ...                          ...
46202                             0                            0
46203                             1                            0
46204                             0                            1
46205                             1                            0
46206                             0                            0

       HANDSET_USED_BRAND_APPLE  HANDSET_USED_BRAND_GOOGLE  \
INDEX
1                             0                          0
2                             1                          0
3                             1                          0
4                             1                          0
5                             1                          0
...                         ...                        ...
46202                         0                          0
46203                         0                          0
46204                         1                          0
46205                         1                          0
46206                         1                          0

       HANDSET_USED_BRAND_HUAWEI  HANDSET_USED_BRAND_OTHER  \
INDEX
1                              0                         0
2                              0                         0
3                              0                         0
4                              0                         0
5                              0                         0
...                          ...                       ...
46202                          0                         1
46203                          0                         0
46204                          0                         0
46205                          0                         0
46206                          0                         0

       HANDSET_USED_BRAND_SAMSUNG  HANDSET_USED_BRAND_UNKNOWN  \
INDEX
1                               1                           0
2                               0                           0
3                               0                           0
4                               0                           0
5                               0                           0
...                           ...                         ...
46202                           0                           0
46203                           0                           1
46204                           0                           0
46205                           0                           0
46206                           0                           0

       COUNTRY_METRO_REGION_COUNTRY  COUNTRY_METRO_REGION_METRO  STATE_ACT  \
INDEX
1                                 1                           0          0
2                                 0                           1          0
3                                 1                           0          0
4                                 1                           0          0
5                                 0                           1          0
...                             ...                         ...        ...
46202                             1                           0          0
46203                             0                           1          0
46204                             1                           0          0
46205                             0                           1          0
46206                             0                           1          0

       STATE_NSW  STATE_NT  STATE_QLD  STATE_SA  STATE_TAS  STATE_VIC  \
INDEX
1              0         0          0         0          0          0
2              1         0          0         0          0          0
3              0         0          0         0          0          0
4              0         0          0         0          0          1
5              1         0          0         0          0          0
...          ...       ...        ...       ...        ...        ...
46202          0         0          0         0          0          1
46203          1         0          0         0          0          0
46204          1         0          0         0          0          0
46205          0         0          0         0          0          1
46206          1         0          0         0          0          0

       STATE_WA
INDEX
1             1
2             0
3             1
4             0
5             0
...         ...
46202         0
46203         0
46204         0
46205         0
46206         0

[46206 rows x 35 columns]